In [ ]:
# 1) Create a dictionary of employees with (name, role, salary). Print only salaries > 30k.
emp = {
    1 : {"Name" : "ABC", "Role" : "Intern", "Salary" : 10000},
    2 : {"Name" : "XYZ", "Role" : "Developer", "Salary" : 40000},
    3 : {"Name" : "PQR", "Role" : "Manager", "Salary" : 60000}
}

for x in emp:
    if emp[x]["Salary"] > 30000:
        print(emp[x])

{'Name': 'XYZ', 'Role': 'Developer', 'Salary': 40000}
{'Name': 'PQR', 'Role': 'Manager', 'Salary': 60000}

In [ ]:
# 2) Create a tuple of 5 elements, try modifying it, and note the error.
tup = (1, 2, 3, 4, 5)
tup[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 3) Write a program to swap two numbers without a third variable.
a = 10
b = 20

a = a+b
b = a-b
a = a-b

print("a = ",a)
print("b = ",b)

a =  20
b =  10

In [ ]:
# 4) Reverse a string without using slicing.
s = "hello"
rev = ""

for i in s:
  rev = i + rev

print(rev)

olleh

In [ ]:
# 5) Print current date in format YYYY-MM-DD.
from datetime import date

x = date.today()
print(x)

2025-12-18

In [ ]:
# 6) Function with **kwargs to print employee details.
def emp_details(**kwargs):
    for x in kwargs:
        print(x, kwargs[x])

emp_details(Name = "XYZ", Salary =  30000)

Name XYZ
Salary 30000

In [ ]:
# 7) Write a lambda function to filter even numbers from a list.
x = [1,2,3,4,5,6,7]
even = (list(filter(lambda x : x%2 == 0, x)))
print(even)

[2, 4, 6]

In [ ]:
# 8) Create a class Product with fields: name, price. Add method to apply discount.Inherit Electronics from Product, add warranty period.Create 3 different product objects and print final price after discount.
class Product:
    def __init__(self, name, price):
        self.name = name
        self.price = price

    def apply_discount(self, discount):
        self.price = self.price - (self.price * discount)
        return self.price

class Electronics(Product):
    def __init__(self, name, price, warranty):
        super().__init__(name, price)
        self.warranty = warranty

prod1 = Electronics("TV", 10000, 2)
prod2 = Electronics("Mobile", 20000, 1)
prod3 = Product("Laptop", 30000)

print(prod1.apply_discount(0.1))
print(prod2.apply_discount(0.2))
print(prod3.apply_discount(0.3))

9000.0
16000.0
21000.0

In [ ]:
# 9) Create Shape base class with method area(). Inherit Circle and Rectangle with their own area() implementation.
class Shape:
  def area(self):
    pass

class Circle(Shape):
  def __init__(self, radius):
    self.radius = radius
  def area(self):
    return 3.14 * self.radius * self.radius

class Rectangle(Shape):
  def __init__(self, length, width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width


print(Circle(100).area())
print(Rectangle(4,5).area())

31400.0
20

In [ ]:
# 10) Create a class method (@classmethod) to count number of objects created.
class Student:
    count = 0   # class variable

    def __init__(self, name):
        self.name = name
        Student.count += 1

    @classmethod
    def total_objects(cls):
        return cls.count


# Creating objects
s1 = Student("Amit")
s2 = Student("Riya")
s3 = Student("Kunal")

# Calling class method
print("Total objects created:", Student.total_objects())

Total objects created: 3

In [ ]:
# 11) Store student data in JSON.
{
  "students": [
    {
      "id": 101,
      "name": "ABC",
      "age": 20,
      "gender": "Male",
      "course": "B.Tech",
      "branch": "Computer Engineering",
      "semester": 5,
      "email": "abc@example.com",
      "marks": {
        "Web Programming": 85,
        "Data Structures": 78,
        "DBMS": 88
      }
    },
    {
      "id": 102,
      "name": "XYZ",
      "age": 21,
      "gender": "Male",
      "course": "B.Tech",
      "branch": "IT",
      "semester": 6,
      "email": "xyz@example.com",
      "marks": {
        "Web Programming": 80,
        "Operating System": 75,
        "Computer Networks": 82
      }
    }
  ]
}

{'students': [{'id': 101,
   'name': 'ABC',
   'age': 20,
   'gender': 'Male',
   'course': 'B.Tech',
   'branch': 'Computer Engineering',
   'semester': 5,
   'email': 'abc@example.com',
   'marks': {'Web Programming': 85, 'Data Structures': 78, 'DBMS': 88}},
  {'id': 102,
   'name': 'XYZ',
   'age': 21,
   'gender': 'Male',
   'course': 'B.Tech',
   'branch': 'IT',
   'semester': 6,
   'email': 'xyz@example.com',
   'marks': {'Web Programming': 80,
    'Operating System': 75,
    'Computer Networks': 82}}]}

In [ ]:
# 12) Export student data to CSV.
import pandas as pd

data = {
    "Student_ID": [1, 2, 3, 4, 5],
    "Name": ["Ravi", "Sneha", "Amit", "Priya", "Karan"],
    "Age": [20, 21, 19, 22, 20],
    "Course": ["BCA", "BSc IT", "BCA", "BTech", "BSc CS"],
    "Marks": [78, 85, 69, 92, 74]
}

df = pd.DataFrame(data)
df.head()

   Student_ID   Name  Age  Course  Marks
0           1   Ravi   20     BCA     78
1           2  Sneha   21  BSc IT     85
2           3   Amit   19     BCA     69
3           4  Priya   22   BTech     92
4           5  Karan   20  BSc CS     74

In [ ]:
# 13) Build Student CRUD app in Python
import sqlite3

# Connect to SQLite database (creates file if not exists)
conn = sqlite3.connect("students.db")
cursor = conn.cursor()

# Create table if not exists
cursor.execute('''
CREATE TABLE IF NOT EXISTS students (
    roll TEXT PRIMARY KEY,
    name TEXT,
    age INTEGER,
    course TEXT
)
''')
conn.commit()

def create_student():
    roll = input("Enter Roll Number: ")
    name = input("Enter Name: ")
    age = input("Enter Age: ")
    course = input("Enter Course: ")
    try:
        cursor.execute("INSERT INTO students VALUES (?, ?, ?, ?)", (roll, name, age, course))
        conn.commit()
        print("‚úÖ Student added successfully!")
    except sqlite3.IntegrityError:
        print("‚ö†Ô∏è Student with this roll number already exists!")

def read_students():
    cursor.execute("SELECT * FROM students")
    rows = cursor.fetchall()
    if not rows:
        print("‚ö†Ô∏è No students found.")
        return
    print("\n--- Student Records ---")
    for row in rows:
        print(f"Roll: {row[0]}, Name: {row[1]}, Age: {row[2]}, Course: {row[3]}")

def update_student():
    roll = input("Enter Roll Number to update: ")
    name = input("Enter New Name: ")
    age = input("Enter New Age: ")
    course = input("Enter New Course: ")
    cursor.execute("UPDATE students SET name=?, age=?, course=? WHERE roll=?", (name, age, course, roll))
    if cursor.rowcount == 0:
        print("‚ö†Ô∏è Student not found!")
    else:
        conn.commit()
        print("‚úÖ Student updated successfully!")

def delete_student():
    roll = input("Enter Roll Number to delete: ")
    cursor.execute("DELETE FROM students WHERE roll=?", (roll,))
    if cursor.rowcount == 0:
        print("‚ö†Ô∏è Student not found!")
    else:
        conn.commit()
        print("‚úÖ Student deleted successfully!")

def menu():
    while True:
        print("\n=== Student CRUD App (SQLite) ===")
        print("1. Create Student")
        print("2. Read Students")
        print("3. Update Student")
        print("4. Delete Student")
        print("5. Exit")

        choice = input("Enter choice: ")
        if choice == "1":
            create_student()
        elif choice == "2":
            read_students()
        elif choice == "3":
            update_student()
        elif choice == "4":
            delete_student()
        elif choice == "5":
            print("üëã Exiting...")
            break
        else:
            print("‚ö†Ô∏è Invalid choice!")

# Run the app
menu()

# Close DB connection at the end
# conn.close()

=== Student CRUD App (SQLite) ===
1. Create Student
2. Read Students
3. Update Student
4. Delete Student
5. Exit
Enter choice: 1
Enter Roll Number: 7
Enter Name: Dhoni
Enter Age: 21
Enter Course: CSE
‚úÖ Student added successfully!

=== Student CRUD App (SQLite) ===
1. Create Student
2. Read Students
3. Update Student
4. Delete Student
5. Exit
Enter choice: 18
‚ö†Ô∏è Invalid choice!

=== Student CRUD App (SQLite) ===
1. Create Student
2. Read Students
3. Update Student
4. Delete Student
5. Exit
Enter choice: 1
Enter Roll Number: 18
Enter Name: Kohli
Enter Age: 19
Enter Course: AIML
‚úÖ Student added successfully!

=== Student CRUD App (SQLite) ===
1. Create Student
2. Read Students
3. Update Student
4. Delete Student
5. Exit
Enter choice: 2

--- Student Records ---
Roll: 7, Name: Dhoni, Age: 21, Course: CSE
Roll: 18, Name: Kohli, Age: 19, Course: AIML

=== Student CRUD App (SQLite) ===
1. Create Student
2. Read Students
3. Update Student
4. Delete Student
5. Exit
Enter choice: 5
üëã Exiting...

In [ ]:
# 14) Write a generator that yields even numbers up to 100.
def even_gen():
  for i in range(1, 101):
    if i % 2 == 0:
      yield i

for x in even_gen():
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# 15) Create a decorator to log function execution time.
import time

def log_time(func):
  def wrapper():
    start_time = time.time()
    func()
    end_time = time.time()
    print("Time: ", end_time - start_time)
  return wrapper

@log_time
def demo():
  for _ in range(1000000):
    pass

demo()

Time:  0.024408817291259766

In [ ]:
# 16) Create a custom iterator that returns numbers 1‚Äì5.
class MyIterator:
  def __init__(self):
    self.current = 1

  def __iter__(self):
    return self

  def __next__(self):
    if self.current <= 5:
      value = self.current
      self.current += 1
      return value
    else:
      raise StopIteration

my_iterator = MyIterator()
for x in my_iterator:
  print(x)

1
2
3
4
5

In [ ]:
# 17) Write a dictionary comprehension to map numbers 1‚Äì5 to their squares.
sqrs = {x: x**2 for x in range(1, 6)}
print(sqrs)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# 18) Use regex to extract all email addresses from a string.
import re

txt = "Mail me at abc123@gmail.com or xyz789@yahoo.com"
x = re.findall(r'\S+@\S+', txt)
print(x)

['abc123@gmail.com', 'xyz789@yahoo.com']

In [ ]:
# 19) Convert Python dict into JSON and save to file.
import json

data = {"name" : "ABC" , "age" : 20}
json_data = json.dumps(data)
print(json_data)

{"name": "ABC", "age": 20}

In [ ]:
# 20) Read a CSV of employees (id, name, salary) and print those with salary > 50k.
import pandas as pd
df = pd.read_csv("emp_details.csv")
df[df["salary"] > 50000]

   id   name  salary
2   3  Rahul   55000
3   4  Priya   58000